.app__we{
    width: var(--sw);
    height: var(--sh);
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    overflow-y: scroll;
    // &:nth-child(1),&:nth-child(2){
    //     display: contents;

    // }
    // &:nth-child(-n){
    //     display: none;
    // }
    // &:nth-last-child(2n+1){
    //     display: none;
    // }
    div{
        margin: 0 auto;
        box-sizing: border-box;
        // border-bottom: 4px solid gray;
        &:hover{
        box-shadow: 2px 4px 6px rgb(101, 88, 101),-2px -4px 6px rgb(97, 81, 97);
        transition: 1s ease-out;
        }
        margin-top: 1vh;
        height: 70vh;
        width: 70vw;
        img{
            margin-top: 5vh;
            width:40vw;
            height:35vh ;
        }
        
        h4{
            margin: 0 auto;
            width: 70vw;
            justify-content: start;
            text-align: start;
        }
        .btn{
            font-size: small;
            // transform: translateY(20vh);
        }
    }
       
}