.app__software{
    display: inline-flex;
    flex-direction: column;
    // box-shadow: 1px 2px 4px gray;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin:0 auto;
    width: var(--sw);
    height: calc(var(--sh) / 1);
    div.container{
        margin-top:5vh;
        height: 100px;
        margin-left: 2vw;
        margin-right: 2vw;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        text-align: center;
        div{
            img{
                height: 6vh;
                margin-left: 1vw;
                margin-right: 1vw;
            }
        }
    
    
       
    @media screen and (max-width:1200px) {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    }


    
}