:root{
    --post-h:calc(calc(var(--sh) / 2) - 10vh);
    --post-w2:calc(calc(var(--sw) / 2) - 10vh);
    --post-w3:calc(calc(var(--sw) / 3) - 10vh);

}

.app__posts{
    width: var(--sw);
    height: var(--sh);
    overflow-y: scroll;

    .post__content{
        width: var(--sw);
        height: var(--sh);
        display: grid;
        grid-template-columns: auto  auto auto;
        grid-template-rows: auto;
        @media screen and (max-width:720px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;

        }
        div.post{
            margin: 0 auto;
            // height: var(--post-h) ;
            width: var(--post-w3);
            margin-bottom: 2vh;
            box-sizing: border-box;
            box-shadow: 1px 2px 3px black;
            justify-content: center;
            text-align: center;
            @media  media and (max-width:720px) {
            width: var(--post-w2);
                
            }
            h2{

            }

            img{
                margin: 0 auto;
                height:calc(var(--post-h) / 4) ;
                width:calc(var(--post-w3) /2) ;
            }

            h3{
               
            }

            p{

            }
            a{
                width: calc(var(--sw) - 10vw) ;
                margin: 0 auto;
                justify-content: center;
                text-align: center;
                align-content: center;
               
                .btn{
                    // transform: translateY(10vh); //check the landscape mode
                    font-size: small;
                    width: 15vw;
                }
            }
        }
    }
}